/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
.personDetails{
    padding-top: 11px;
}
.personPhoto{
float:left;
margin-right:10px;
margin-bottom:10px;
width: 190px;
}
